@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import "reset.css";
@import "variables.css";
@import "utils.css";
@import "components/header.css";
@import "components/form.css";
@import "components/todo-list.css";

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: var(--white);
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.container {
  background-color: var(--main-color);
  width: 600px;
  height: fit-content;
  margin-top: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.todo {
  padding: 30px;
}
