.btn {
  outline: none;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: #34495e;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
