.todo-form {
  width: 100%;
  margin-bottom: 30px;
}

.todo-input-container {
  position: relative;
  width: 100%;
}

.todo-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: var(--main-color-strong);
  padding: 10px;
  padding-right: 60px;
  color: white;
}

.todo-submit {
  position: absolute;
  right: 20px;
  top: 5px;
}

.todo-filter-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.todo-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  background-color: var(--main-color-strong);

  cursor: pointer;
}

.todo-filter.selected {
  background-color: var(--highlight-color);
}
