.todo-form {
  width: 100%;
  margin-bottom: 30px;
}

.todo-input-container {
  position: relative;
  width: 100%;
}

.todo-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: var(--main-color-strong);
  padding: 10px;
  padding-right: 60px;
  color: white;
}

.todo-submit {
  position: absolute;
  right: 20px;
  top: 5px;
}

.todo-filter-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.todo-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  background-color: var(--main-color-strong);

  cursor: pointer;
}

.todo-filter.selected {
  background-color: var(--highlight-color);
}

.todo-list {
  width: 100%;
}

.todo-item {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;

  background-color: var(--main-color-strong);
  padding: 10px 20px;
  margin-bottom: 15px;
}

.todo-item.finished {
  background-color: var(--highlight-color);
}

.todo-text {
  align-self: center;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-item.finished .todo-text {
  text-decoration: line-through;
}

.todo-btns {
  justify-self: end;
  align-self: center;
  display: flex;
}

.todo-status-btn {
  margin-right: 10px;
}

.todo-ongoing-btn {
  background-color: var(--main-color-strong);
}

.todo-delete-btn {
  background-color: #e74c3c;
}
